## Vamos a extrer la información de los diferentes datasets de amazon

In [1]:
import json
import pandas as pd
from glob import glob


def convert(x):
    ''' Convert a json string to a flat python dictionary
    which can be passed into Pandas. '''
    ob = json.loads(x)
    for k, v in ob.items():
        if isinstance(v, list):
            ob[k] = ','.join(str(v))
        elif isinstance(v, dict):
            for kk, vv in v.items():
                ob['%s_%s' % (k, kk)] = vv
            del ob[k]
    return ob

def convertAllJSON2CSV(): 
    for json_filename in glob('*.json'):
        csv_filename = '%s.csv' % json_filename[:-5]
        print 'Converting %s to %s' % (json_filename, csv_filename)
        df = pd.DataFrame([convert(line) for line in file(json_filename)])
        df.to_csv(csv_filename, encoding='utf-8', index=False)

In [4]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
overallDF = df[["overall","reviewText"]]

data = df.groupby("overall")["overall"].count()
plt.bar(data.index.values,data.values)

NameError: name 'df' is not defined

In [5]:
cachedStopWords

NameError: name 'cachedStopWords' is not defined

In [36]:
# Hay que igualar y coger muestras de tamaño similar para todas las valoraciones?

## 2.-  Procesamiento de texto sobre las reviews
Eliminamos stopwords (TF-idf)
aplicamos métodos de lematizacion - TextBlob, NLTK
extraemos entidades (tokens)

## 3.- Extracción de muestras de test y de entrenamiento para el modelo
## 4.- Entrenamiento del modelo a partir de los datos de test.
## 5.- Ejecución del modelo. Evaluación de resultados, comparación con otros modelos Sentiment Analysis.

In [5]:
from textblob import TextBlob
from textblob import Word

In [6]:
import nltk
# nltk.download() hay que hacerlo la primera vez para cargar todos los corpus necesarios
#nltk.download()

In [26]:
TextBlob(overallDF["reviewText"][1]).words.lemmatize()

WordList([u'I', u'highly', u'recommend', u'this', u'series', u'It', u'is', u'a', u'must', u'for', u'anyone', u'who', u'is', u'yearning', u'to', u'watch', u'grown', u'up', u'television', u'Complex', u'character', u'and', u'plot', u'to', u'keep', u'one', u'totally', u'involved', u'Thank', u'you', u'Amazin', u'Prime'])

## funcion que elimina las stopwords y aplica lematizacion

In [8]:
from nltk.corpus import stopwords

cachedStopWords = stopwords.words("english")

In [7]:
cachedStopWords

NameError: name 'cachedStopWords' is not defined

In [145]:
overallDFsample=overallDF[1:5]
overallDFsample['reviewTextLemmatized']=overallDFsample.apply(lemmatizeReviewText,axis=1)
type (overallDFsample)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

pandas.core.frame.DataFrame

In [132]:
cachedStopWords

[u'i',
 u'me',
 u'my',
 u'myself',
 u'we',
 u'our',
 u'ours',
 u'ourselves',
 u'you',
 u'your',
 u'yours',
 u'yourself',
 u'yourselves',
 u'he',
 u'him',
 u'his',
 u'himself',
 u'she',
 u'her',
 u'hers',
 u'herself',
 u'it',
 u'its',
 u'itself',
 u'they',
 u'them',
 u'their',
 u'theirs',
 u'themselves',
 u'what',
 u'which',
 u'who',
 u'whom',
 u'this',
 u'that',
 u'these',
 u'those',
 u'am',
 u'is',
 u'are',
 u'was',
 u'were',
 u'be',
 u'been',
 u'being',
 u'have',
 u'has',
 u'had',
 u'having',
 u'do',
 u'does',
 u'did',
 u'doing',
 u'a',
 u'an',
 u'the',
 u'and',
 u'but',
 u'if',
 u'or',
 u'because',
 u'as',
 u'until',
 u'while',
 u'of',
 u'at',
 u'by',
 u'for',
 u'with',
 u'about',
 u'against',
 u'between',
 u'into',
 u'through',
 u'during',
 u'before',
 u'after',
 u'above',
 u'below',
 u'to',
 u'from',
 u'up',
 u'down',
 u'in',
 u'out',
 u'on',
 u'off',
 u'over',
 u'under',
 u'again',
 u'further',
 u'then',
 u'once',
 u'here',
 u'there',
 u'when',
 u'where',
 u'why',
 u'how',
 u'all',
 u'any',
 u'both',
 u'each',
 u'few',
 u'more',
 u'most',
 u'other',
 u'some',
 u'such',
 u'no',
 u'nor',
 u'not',
 u'only',
 u'own',
 u'same',
 u'so',
 u'than',
 u'too',
 u'very',
 u's',
 u't',
 u'can',
 u'will',
 u'just',
 u'don',
 u'should',
 u'now',
 u'd',
 u'll',
 u'm',
 u'o',
 u're',
 u've',
 u'y',
 u'ain',
 u'aren',
 u'couldn',
 u'didn',
 u'doesn',
 u'hadn',
 u'hasn',
 u'haven',
 u'isn',
 u'ma',
 u'mightn',
 u'mustn',
 u'needn',
 u'shan',
 u'shouldn',
 u'wasn',
 u'weren',
 u'won',
 u'wouldn']

In [76]:
babyDf = pd.DataFrame([convert(line) for line in file('reviews_Baby_5.json')])
babyDf.to_csv(csv_filename, encoding='utf-8', index=False)

In [248]:
import string
def remove_punctuation(text):    
    return text.translate(None, string.punctuation).lower()

def lemmatizeReviewText(row):
    words = TextBlob(row["review_clean"]).words.lemmatize()
    ext = ' '.join(word for word in words if word not in (cachedStopWords))
    return ext

In [136]:
babyDf = pd.DataFrame([convert(line) for line in file('reviews_Baby_5.json')])
# forzamos la columna reviewText como str para el correcto funcionamiento de remove_punctuation
babyDf['reviewText'] = babyDf['reviewText'].astype(str)
babyDf['review_clean'] = babyDf['reviewText'].apply(remove_punctuation)
babyDf['review_clean']= babyDf.apply(lemmatizeReviewText, axis=1)
babyDf['review_clean']=babyDf['review_clean'].apply(lambda x: x.lower())

babyDf.to_csv('reviews_Baby_5.csv', header=True,quoting=1)

In [32]:
# Tratamos el dataset de Pets
petsDf = pd.DataFrame([convert(line) for line in file('reviews_Pet_Supplies_5.json')])
# forzamos la columna reviewText como str para el correcto funcionamiento de remove_punctuation
petsDf['reviewText'] = petsDf['reviewText'].astype(str)
petsDf['review_clean'] = petsDf['reviewText'].apply(remove_punctuation)
petsDf['review_clean']= petsDf.apply(lemmatizeReviewText, axis=1)
petsDf['review_clean']= petsDf['review_clean'].apply(lambda x: x.lower())
petsDf.to_csv('reviews_Pet_Supplies_5.csv', header=True,quoting=1)

In [38]:
# Concatenamos el dataset a partir de Pets y Babies

frames = [babyDf,petsDf]
babiesPetsDf = pd.concat(frames)

318628

# Convertimos el dataFrame al csv que sera la fuente de entrada al modelo de ML

In [1]:
babiesPetsDf.to_csv('babies+pets_reviews.csv', header=True,quoting=1)

NameError: name 'babiesPetsDf' is not defined

In [4]:
# comprobamos que está bien generado el csv volviendolo a cargar en el DF
import json
import pandas as pd
babiesPetsDf=pd.read_csv('babies+pets_reviews.csv',header=False,sep=',')
babiesPetsDf['review_clean'].sample(10)

268599    nothing great thing say blue buffalo product r...
110798    attend work conference thought would purchase ...
218728    love company quality product excellent custome...
220497    competitor product wa dark color crumbly made ...
314210    easy install look great color matching highlan...
66635     nice soft tie easily gentle teething son gum p...
73390     product worth super sturdy imagine going last ...
186168    isnt favorite good variety diet girl like pate...
191465    ok dog like favorite work toy use treat since ...
284166    beautiful vivid color sturdy even withheld 4 m...
Name: review_clean, dtype: object

In [12]:
#  crear un diccionario {palabra:ocurrencias}
import numpy as np
cnt = {}
for linea in babiesPetsDf['review_clean'].astype(str).values:
    for word in linea.split():
        if (word not in cnt):
            cnt[word] = 1
        else:
            cnt[word] += 1
            
wordsSerie=pd.Series(cnt,index=cnt.keys())
wordsSerie=wordsSerie[wordsSerie.values>1]
data={'a':wordsSerie.index,'b':wordsSerie.values}
wordsDf=pd.DataFrame(data=data, index=np.arange(len(wordsSerie)))
wordsDf=wordsDf.sort('b', ascending=False).head(1500)

# Generamos el array de palabras importantes

In [14]:
important_words = str([str(s) for s in wordsDf['a']])
f= open('important_words.json', 'w') 
f.write(important_words.replace("'",'"'))
f.close()
wordsDf.sample()

# Procesamiento de us_tweets.json --> us_tweets.csv
conversión de us_tweets_json a us_tweets.csv para aplicar proceso de lematización y eliminación de stopwords

In [142]:
def getTweetsDF(json_filename):
    csv_filename = '%s.csv' % json_filename[:-5]
    print 'Converting %s to %s' % (json_filename, csv_filename)
    df = pd.DataFrame( columns=['id','reviewText','created_at','geo','city'])

    json_data=open(json_filename).read()
    ob = json.loads(json_data)
    results = ob['results']
    print(len(results))
    for k  in results:

        if (not k['geo']):
            geo = ''
        else:
            idd = k['id_str']
            text = k['text']
            created_at = k['created_at']
            geo= ', '.join(map(str,k['geo']['coordinates']))
            city = k['place']['full_name']
            SR_row = pd.Series({'id':idd, 'reviewText':text, 'created_at':created_at,'geo':'['+geo+']','city':city},name=len(df))
            df=df.append(SR_row)
    return df

dfTweeter = getTweetsDF('USA_geo.json')

Converting USA_geo.json to USA_geo.csv
9354

# Tratamos el dataset de us_tweets

In [72]:
dfTweeter['reviewText'] = dfTweeter['reviewText'].apply(lambda x: x.encode('utf-8','ignore'))
dfTweeter['review_clean'] = dfTweeter['reviewText'].apply(remove_punctuation)
dfTweeter['review_clean']= dfTweeter.apply(lemmatizeReviewText, axis=1)
dfTweeter['review_clean']= dfTweeter['review_clean'].apply(lambda x: x.lower())
dfTweeter.to_csv('us_tweets.csv', header=True,quoting=1)

AttributeError: ("'str' object has no attribute 'words'", u'occurred at index 0')

In [249]:
def lemmatizeReviewTextForTweets(row):
    a=row["review_clean"].decode('unicode_escape').encode('ascii','ignore')
    words = TextBlob(a).words.lemmatize()
    ext = ' '.join(word for word in words if word not in (cachedStopWords))
    return ext

In [251]:
dfTweeter['reviewText'] = dfTweeter['reviewText'].apply(lambda x: x.encode('utf-8','ignore'))
dfTweeter['review_clean'] = dfTweeter['reviewText'].apply(remove_punctuation)
dfTweeter['review_clean']=dfTweeter.apply(lemmatizeReviewTextForTweets,axis=1)
dfTweeter['review_clean']= dfTweeter['review_clean'].apply(lambda x: x.lower())


#ext = ' '.join(word for word in words if word not in (cachedStopWords))
#1ext

UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 89: ordinal not in range(128)

In [355]:
dfTweeter['review_clean'][2843]

u'supplemental health care healthcare job travel registered nurse canoncity co httpstcob9lzmi6eqt job httpstcomsfsomtdde'

In [352]:
dfTweeterSample=dfTweeter[0:2842]

In [345]:
dfTweeterSample.to_csv('us_tweets.csv', header=True,quoting=1)

In [268]:
dfTweeterSample

,id,created_at,geo,city,review_clean
0,737913052050423808,Wed Jun 01 07:45:56 +0000 2016,"[37.8646149, -122.2341905]","Oakland, CA",supplemental health care healthcare job occupa...
1,737913053119959040,Wed Jun 01 07:45:56 +0000 2016,"[34.0522342, -118.2436849]","Los Angeles, CA",recommend anyone nursing job httpstcoskx3eguif...
2,737913055338713089,Wed Jun 01 07:45:56 +0000 2016,"[37.69944509, -123.01210475]","California, USA",httpstcodzvgumv8zq
3,737913065262436352,Wed Jun 01 07:45:59 +0000 2016,"[37.79184, -122.40682]","San Francisco, CA",chocolate dessert parallel37 chef rotondosf mi...
4,737913073479127041,Wed Jun 01 07:46:01 +0000 2016,"[33.75, -84.39]","Atlanta, GA",temperature 74f gt 70f humidity 73 gt 82 wind ...
5,737913078558404608,Wed Jun 01 07:46:02 +0000 2016,"[30.28457313, -89.43852332]","Mississippi, USA",imfarfromperfect rewritemyhistory jshizzle jsh...
6,737913086837940226,Wed Jun 01 07:46:04 +0000 2016,"[30.456615, -91.187356]","Baton Rouge, LA",hcr108 passed request dept health hospital cre...
7,737913096543588352,Wed Jun 01 07:46:06 +0000 2016,"[38.978862, -76.490685]","Annapolis, MD",sb64 vetoed baltimore county orphan court judg...
8,737913098217132032,Wed Jun 01 07:46:07 +0000 2016,"[25.88414, -80.24274]","Westview, FL",posted video rollexx club night club httpstcoc...
9,737913106752540672,Wed Jun 01 07:46:09 +0000 2016,"[38.978862, -76.490685]","Annapolis, MD",hb349 passed baltimore county education career...
10,737913123877879808,Wed Jun 01 07:46:13 +0000 2016,"[36.16692, -115.03641]","Sunrise Manor, NV",hunted took shot outside gordonramsay steak ho...
11,737913129292730368,Wed Jun 01 07:46:14 +0000 2016,"[40.7319055, -73.9896578]","Manhattan, NY",holy shit thebottlemen webster hall httpstco9g...
12,737913131683446784,Wed Jun 01 07:46:15 +0000 2016,"[47.07947453, -120.00366211]","Washington, USA",website hack trap lead increase revenue httpst...
13,737913141993078784,Wed Jun 01 07:46:17 +0000 2016,"[38.94637803, -74.91018722]","Cape May, NJ",im cview inn cape may nj httpstcolqmze3tksh
14,737913142232162304,Wed Jun 01 07:46:17 +0000 2016,"[37.781157, -122.39872]","San Francisco, CA",geo e92dc4e56c6b97210b338305bf55b491
15,737913144106946561,Wed Jun 01 07:46:17 +0000 2016,"[37.70463678, -122.46387013]","Daly City, CA",httpstcokbbkd5zw0y
16,737913154504675328,Wed Jun 01 07:46:20 +0000 2016,"[37.8018, -122.4198]","San Francisco, CA",shooting pretty much nonstop last 9 day amp iv...
17,737913155796533248,Wed Jun 01 07:46:20 +0000 2016,"[36.11615029, -115.17128052]","Paradise, NV",paris flamingo flamingo la vega hotel amp casi...
18,737913164021518336,Wed Jun 01 07:46:22 +0000 2016,"[25.88414, -80.24274]","Westview, FL",posted video rollexx club night club httpstcov...
19,737913170157838336,Wed Jun 01 07:46:24 +0000 2016,"[40.72576, -73.91182]","Queens, NY",fun night club baby right mdw tho held whole n...
20,737913180710699008,Wed Jun 01 07:46:26 +0000 2016,"[32.11402957, -98.6056067]","Texas, USA",usgs08099300 sabana rv nr de leon tx height 19...
21,737913181616656384,Wed Jun 01 07:46:26 +0000 2016,"[28.6823714, -82.1123664]","Bushnell, FL",youre retail professional bushnell fl check jo...
22,737913182375845888,Wed Jun 01 07:46:27 +0000 2016,"[34.102726, -118.327164]","Los Angeles, CA",contact event event nightlife nightclub dance ...
23,737913183030149121,Wed Jun 01 07:46:27 +0000 2016,"[30.08298924, -98.0077859]","Texas, USA",usgs08158700 onion ck nr driftwood tx height 5...
24,737913184435200000,Wed Jun 01 07:46:27 +0000 2016,"[28.73664429, -99.1447556]","Texas, USA",usgs08205500 frio rv nr derby tx height 763ft ...
25,737913186465222658,Wed Jun 01 07:46:28 +0000 2016,"[37.69910351, -123.01161171]","California, USA",httpstcooadqwtx3lx
26,737913197349470217,Wed Jun 01 07:46:30 +0000 2016,"[43.1489516, -77.6268239]","New York, USA",year ive throwing stickydried mascara knowing ...
27,737913207323496448,Wed Jun 01 07:46:33 +0000 2016,"[36.125257, -115.1699405]","Paradise, NV",start great dinner friend aquanoxlasvegas grea...
28,737913209055760386,Wed Jun 01 07:46:33 +0000 2016,"[40.7253319, -74.0054946]","Manhattan, NY",newyork ny sale job corporate travel sale mana...
29,737913209357795329,Wed Jun 01 07:46:33 +0000 2016,"[41.308274, -72.9278835]","New Haven, CT",hiring read latest job opening lsat instructor...
...,...,...,...,...,...
98,737913800360349696,Wed Jun 01 07:48:54 +0000 2016,"[32.7281659, -97.3637407]","Fort Worth, TX",interested retail job near fortworth tx could ...
99,737913807318724609,Wed Jun 01 07:48:56 +0000 2016,"[37.69967263, -123.012483]","California, USA",httpstconjvh39bemd
100,737913816936263680,Wed Jun 01 07:48:58 +0000 2016,"[39.97136, -82.98419]","Columbus, OH",ramp restriction i670 eb i71 traffic httpstcoh...
101,737913862188597250,Wed Jun 01 07:49:09 +0000 2016,"[36.30625325, -119.656235]","Hanford, CA",wa beyond hott today hott wa irritating wouldn...
102,737913870778535936,Wed Jun 01 07:49:11 +0000 2016,"[43.62, -84.25]","Midland, MI",temperature 61f gt 58f humidity 82 gt 59
103,737913880828121088,Wed Jun 01 07:49:13 +0000 2016,"[33.887901, -118.361]","Lawndale, CA",havana mania httpstcogplild4rom excellent http...
104,737913885580230656,Wed Jun 01 07:49:14 +0000 2016,"[37.79184, -122.40682]","San Francisco, CA",chef love awesome day got truffle caviar paral...
105,737913897559166976,Wed Jun 01 07:49:17 +0000 2016,"[32.7572289, -117.0802612]","San Diego, CA",thank much benefit cosmetic eyebrow goody exci...
106,737913897819222017,Wed Jun 01 07:49:17 +0000 2016,"[34.8736058, -82.6926204]","Pickens, SC",retail job might great fit grocery associate h...
107,737913910179864577,Wed Jun 01 07:49:20 +0000 2016,"[33.8041, -118.158]","Long Beach, CA",long beach california httpstcoa1wtxu2ipj
108,737913927376490496,Wed Jun 01 07:49:24 +0000 2016,"[25.88414, -80.24274]","Westview, FL",posted video rollexx club night club httpstcof...
109,737913933047160832,Wed Jun 01 07:49:26 +0000 2016,"[39.29, -76.61]","Baltimore, MD",temperature 70f gt 64f humidity 88 gt 100 wind...
110,737913935114981377,Wed Jun 01 07:49:26 +0000 2016,"[37.78525, -122.41564]","San Francisco, CA",demon hunter mathaius diablo3 demonhunter rogu...
111,737913957466427393,Wed Jun 01 07:49:31 +0000 2016,"[37.0669007, -76.33377846]","Hampton, VA",account hacked please follow new one phoenixdmt
112,737913969420144640,Wed Jun 01 07:49:34 +0000 2016,"[42.20416667, -72.61666667]","Holyoke, MA",posted photo holyoke massachusetts httpstcob9d...
113,737913979775909888,Wed Jun 01 07:49:37 +0000 2016,"[47.6064, -122.331]","Seattle, WA",set 3 90 see brooklynbettyb axsmart myart seat...
114,737913983383011328,Wed Jun 01 07:49:38 +0000 2016,"[35.35078831, -118.87929836]","California, USA",im giumarra vineyard edison ca httpstcorlsmwmklkg
115,737913993973616640,Wed Jun 01 07:49:40 +0000 2016,"[34.03, -117.81]","Diamond Bar, CA",cloud gt haze temperature 67f gt 62f humidity ...
116,737914004425867264,Wed Jun 01 07:49:43 +0000 2016,"[36.5682, -87.3214]","Clarksville, TN",drinking double bean blonde schlafly house htt...
117,737914018225086464,Wed Jun 01 07:49:46 +0000 2016,"[40.7095316, -80.1183689]","Cranberry, PA",recommend anyone job httpstcoqfz5tdlntp cranbe...
118,737914023241469952,Wed Jun 01 07:49:47 +0000 2016,"[37.3058839, -89.5181476]","Cape Girardeau, MO",interested nursing job near capegirardeau mo c...
119,737914026773086208,Wed Jun 01 07:49:48 +0000 2016,"[47.62062, -122.32133]","Seattle, WA",ingrid ella leica m4 ilford hp5 plus 400 photo...
120,737914028597620736,Wed Jun 01 07:49:48 +0000 2016,"[34.9881988, -92.5821184]","Arkansas, USA",people change corn maze lollie httpstcom0xk0k9t0l
121,737914059669049346,Wed Jun 01 07:49:56 +0000 2016,"[39.4370508, -76.6196915]","Lutherville, MD",hiring click apply physical therapist assistan...
122,737914062378565634,Wed Jun 01 07:49:56 +0000 2016,"[43.59094, -89.79091]","Lake Delton, WI",found spot phot sent 1 j1s 2015 httpstco6nmc28...
123,737914063087382528,Wed Jun 01 07:49:57 +0000 2016,"[36.1064909, -115.1645331]","Paradise, NV",topgolf golflife imalldrunkorwhatnot top golf ...
124,737914070435831808,Wed Jun 01 07:49:58 +0000 2016,"[40.729908, -73.75419]","Queens, NY",march 7 2016 8534 215th street hollis hill que...
125,737914079713583104,Wed Jun 01 07:50:01 +0000 2016,"[29.7683, -93.3433]","Louisiana, USA",ebbtideapp tide calcasieu pas louisiana 060120...
126,737914079898181632,Wed Jun 01 07:50:01 +0000 2016,"[33.16566334, -96.89234376]","Little Elm, TX",world perpetual war need invest time inspiring...
127,737914088328724480,Wed Jun 01 07:50:03 +0000 2016,"[37.69932494, -123.01191184]","California, USA",ruschamp2013jun2la 71 httpstcoyz7e5y4ieo