## Vamos a extrer la información de los diferentes datasets de amazon

In [1]:
import json
import pandas as pd
from glob import glob


def convert(x):
    ''' Convert a json string to a flat python dictionary
    which can be passed into Pandas. '''
    ob = json.loads(x)
    for k, v in ob.items():
        if isinstance(v, list):
            ob[k] = ','.join(str(v))
        elif isinstance(v, dict):
            for kk, vv in v.items():
                ob['%s_%s' % (k, kk)] = vv
            del ob[k]
    return ob

def convertAllJSON2CSV(): 
    for json_filename in glob('*.json'):
        csv_filename = '%s.csv' % json_filename[:-5]
        print 'Converting %s to %s' % (json_filename, csv_filename)
        df = pd.DataFrame([convert(line) for line in file(json_filename)])
        df.to_csv(csv_filename, encoding='utf-8', index=False)

In [4]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
overallDF = df[["overall","reviewText"]]

data = df.groupby("overall")["overall"].count()
plt.bar(data.index.values,data.values)

NameError: name 'df' is not defined

In [5]:
cachedStopWords

NameError: name 'cachedStopWords' is not defined

In [36]:
# Hay que igualar y coger muestras de tamaño similar para todas las valoraciones?

## 2.-  Procesamiento de texto sobre las reviews
Eliminamos stopwords (TF-idf)
aplicamos métodos de lematizacion - TextBlob, NLTK
extraemos entidades (tokens)

## 3.- Extracción de muestras de test y de entrenamiento para el modelo
## 4.- Entrenamiento del modelo a partir de los datos de test.
## 5.- Ejecución del modelo. Evaluación de resultados, comparación con otros modelos Sentiment Analysis.

In [5]:
from textblob import TextBlob
from textblob import Word

In [6]:
import nltk
# nltk.download() hay que hacerlo la primera vez para cargar todos los corpus necesarios
#nltk.download()

In [26]:
TextBlob(overallDF["reviewText"][1]).words.lemmatize()

WordList([u'I', u'highly', u'recommend', u'this', u'series', u'It', u'is', u'a', u'must', u'for', u'anyone', u'who', u'is', u'yearning', u'to', u'watch', u'grown', u'up', u'television', u'Complex', u'character', u'and', u'plot', u'to', u'keep', u'one', u'totally', u'involved', u'Thank', u'you', u'Amazin', u'Prime'])

## funcion que elimina las stopwords y aplica lematizacion

In [8]:
from nltk.corpus import stopwords

cachedStopWords = stopwords.words("english")

In [7]:
cachedStopWords

NameError: name 'cachedStopWords' is not defined

In [145]:
overallDFsample=overallDF[1:5]
overallDFsample['reviewTextLemmatized']=overallDFsample.apply(lemmatizeReviewText,axis=1)
type (overallDFsample)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

pandas.core.frame.DataFrame

In [132]:
cachedStopWords

[u'i',
 u'me',
 u'my',
 u'myself',
 u'we',
 u'our',
 u'ours',
 u'ourselves',
 u'you',
 u'your',
 u'yours',
 u'yourself',
 u'yourselves',
 u'he',
 u'him',
 u'his',
 u'himself',
 u'she',
 u'her',
 u'hers',
 u'herself',
 u'it',
 u'its',
 u'itself',
 u'they',
 u'them',
 u'their',
 u'theirs',
 u'themselves',
 u'what',
 u'which',
 u'who',
 u'whom',
 u'this',
 u'that',
 u'these',
 u'those',
 u'am',
 u'is',
 u'are',
 u'was',
 u'were',
 u'be',
 u'been',
 u'being',
 u'have',
 u'has',
 u'had',
 u'having',
 u'do',
 u'does',
 u'did',
 u'doing',
 u'a',
 u'an',
 u'the',
 u'and',
 u'but',
 u'if',
 u'or',
 u'because',
 u'as',
 u'until',
 u'while',
 u'of',
 u'at',
 u'by',
 u'for',
 u'with',
 u'about',
 u'against',
 u'between',
 u'into',
 u'through',
 u'during',
 u'before',
 u'after',
 u'above',
 u'below',
 u'to',
 u'from',
 u'up',
 u'down',
 u'in',
 u'out',
 u'on',
 u'off',
 u'over',
 u'under',
 u'again',
 u'further',
 u'then',
 u'once',
 u'here',
 u'there',
 u'when',
 u'where',
 u'why',
 u'how',
 u'all',
 u'any',
 u'both',
 u'each',
 u'few',
 u'more',
 u'most',
 u'other',
 u'some',
 u'such',
 u'no',
 u'nor',
 u'not',
 u'only',
 u'own',
 u'same',
 u'so',
 u'than',
 u'too',
 u'very',
 u's',
 u't',
 u'can',
 u'will',
 u'just',
 u'don',
 u'should',
 u'now',
 u'd',
 u'll',
 u'm',
 u'o',
 u're',
 u've',
 u'y',
 u'ain',
 u'aren',
 u'couldn',
 u'didn',
 u'doesn',
 u'hadn',
 u'hasn',
 u'haven',
 u'isn',
 u'ma',
 u'mightn',
 u'mustn',
 u'needn',
 u'shan',
 u'shouldn',
 u'wasn',
 u'weren',
 u'won',
 u'wouldn']

In [76]:
babyDf = pd.DataFrame([convert(line) for line in file('reviews_Baby_5.json')])
babyDf.to_csv(csv_filename, encoding='utf-8', index=False)

In [135]:
import string
def remove_punctuation(text):    
    return text.translate(None, string.punctuation).lower()

def lemmatizeReviewText(row):
    words = TextBlob(row["review_clean"]).words.lemmatize()
    ext = ' '.join(word for word in words if word not in (cachedStopWords))
    return ext

In [136]:
babyDf = pd.DataFrame([convert(line) for line in file('reviews_Baby_5.json')])
# forzamos la columna reviewText como str para el correcto funcionamiento de remove_punctuation
babyDf['reviewText'] = babyDf['reviewText'].astype(str)
babyDf['review_clean'] = babyDf['reviewText'].apply(remove_punctuation)
babyDf['review_clean']= babyDf.apply(lemmatizeReviewText, axis=1)
babyDf['review_clean']=babyDf['review_clean'].apply(lambda x: x.lower())

babyDf.to_csv('reviews_Baby_5.csv', header=True,quoting=1)

In [32]:
# Tratamos el dataset de Pets
petsDf = pd.DataFrame([convert(line) for line in file('reviews_Pet_Supplies_5.json')])
# forzamos la columna reviewText como str para el correcto funcionamiento de remove_punctuation
petsDf['reviewText'] = petsDf['reviewText'].astype(str)
petsDf['review_clean'] = petsDf['reviewText'].apply(remove_punctuation)
petsDf['review_clean']= petsDf.apply(lemmatizeReviewText, axis=1)
petsDf['review_clean']= petsDf['review_clean'].apply(lambda x: x.lower())
petsDf.to_csv('reviews_Pet_Supplies_5.csv', header=True,quoting=1)

In [38]:
# Concatenamos el dataset a partir de Pets y Babies

frames = [babyDf,petsDf]
babiesPetsDf = pd.concat(frames)

318628

# Convertimos el dataFrame al csv que sera la fuente de entrada al modelo de ML

In [1]:
babiesPetsDf.to_csv('babies+pets_reviews.csv', header=True,quoting=1)

NameError: name 'babiesPetsDf' is not defined

In [4]:
# comprobamos que está bien generado el csv volviendolo a cargar en el DF
import json
import pandas as pd
babiesPetsDf=pd.read_csv('babies+pets_reviews.csv',header=False,sep=',')
babiesPetsDf['review_clean'].sample(10)

268599    nothing great thing say blue buffalo product r...
110798    attend work conference thought would purchase ...
218728    love company quality product excellent custome...
220497    competitor product wa dark color crumbly made ...
314210    easy install look great color matching highlan...
66635     nice soft tie easily gentle teething son gum p...
73390     product worth super sturdy imagine going last ...
186168    isnt favorite good variety diet girl like pate...
191465    ok dog like favorite work toy use treat since ...
284166    beautiful vivid color sturdy even withheld 4 m...
Name: review_clean, dtype: object

In [12]:
#  crear un diccionario {palabra:ocurrencias}
import numpy as np
cnt = {}
for linea in babiesPetsDf['review_clean'].astype(str).values:
    for word in linea.split():
        if (word not in cnt):
            cnt[word] = 1
        else:
            cnt[word] += 1
            
wordsSerie=pd.Series(cnt,index=cnt.keys())
wordsSerie=wordsSerie[wordsSerie.values>1]
data={'a':wordsSerie.index,'b':wordsSerie.values}
wordsDf=pd.DataFrame(data=data, index=np.arange(len(wordsSerie)))
wordsDf=wordsDf.sort('b', ascending=False).head(1500)

# Generamos el array de palabras importantes

In [14]:
important_words = str([str(s) for s in wordsDf['a']])
f= open('important_words.json', 'w') 
f.write(important_words.replace("'",'"'))
f.close()
wordsDf.sample()

# Procesamiento de us_tweets.json --> us_tweets.csv
conversión de us_tweets_json a us_tweets.csv para aplicar proceso de lematización y eliminación de stopwords

In [ ]:
def getTweetsDF(json_filename):
    csv_filename = '%s.csv' % json_filename[:-5]
    print 'Converting %s to %s' % (json_filename, csv_filename)
    df = pd.DataFrame( columns=['id','reviewText','created_at','geo','city'])

    json_data=open(json_filename).read()
    ob = json.loads(json_data)
    results = ob['results']
    print(len(results))
    for k  in results:

        if (not k['geo']):
            geo = ''
        else:
            idd = k['id_str']
            text = k['text']
            created_at = k['created_at']
            geo= ', '.join(map(str,k['geo']['coordinates']))
            city = k['place']['full_name']
            SR_row = pd.Series({'id':idd, 'reviewText':text, 'created_at':created_at,'geo':'['+geo+']','city':city},name=len(df))
            df=df.append(SR_row)
    return df

dfTweeter = getTweetsDF('USA_geo.json')

Converting USA_geo.json to USA_geo.csv
9354

# Tratamos el dataset de us_tweets

In [72]:
dfTweeter['reviewText'] = dfTweeter['reviewText'].apply(lambda x: x.encode('utf-8','ignore'))
dfTweeter['review_clean'] = dfTweeter['reviewText'].apply(remove_punctuation)
dfTweeter['review_clean']= dfTweeter.apply(lemmatizeReviewText, axis=1)
dfTweeter['review_clean']= dfTweeter['review_clean'].apply(lambda x: x.lower())
dfTweeter.to_csv('us_tweets.csv', header=True,quoting=1)

AttributeError: ("'str' object has no attribute 'words'", u'occurred at index 0')

In [141]:
dfTweeter

,id,reviewText,created_at,geo,city,review_clean
0,737913052050423808,Supplemental Health Care #Healthcare #Job: Occ...,Wed Jun 01 07:45:56 +0000 2016,"[37.8646149, -122.2341905]","Oakland, CA",supplemental health care healthcare job occupa...
1,737913053119959040,Can you recommend anyone for this #Nursing #jo...,Wed Jun 01 07:45:56 +0000 2016,"[34.0522342, -118.2436849]","Los Angeles, CA",can you recommend anyone for this nursing job ...
2,737913055338713089,https://t.co/DZVgUmv8ZQ,Wed Jun 01 07:45:56 +0000 2016,"[37.69944509, -123.01210475]","California, USA",httpstcodzvgumv8zq
3,737913065262436352,#chocolate #dessert @parallel37 chef @RotondoS...,Wed Jun 01 07:45:59 +0000 2016,"[37.79184, -122.40682]","San Francisco, CA",chocolate dessert parallel37 chef rotondosf mi...
4,737913073479127041,temperature down 74°F -&gt; 70°F\nhumidity up ...,Wed Jun 01 07:46:01 +0000 2016,"[33.75, -84.39]","Atlanta, GA",temperature down 74°f gt 70°f\nhumidity up 73 ...
5,737913078558404608,#Im_Far_From_Perfect #rewrite_my_history™ #jsh...,Wed Jun 01 07:46:02 +0000 2016,"[30.28457313, -89.43852332]","Mississippi, USA",imfarfromperfect rewritemyhistory™ jshizzle js...
6,737913086837940226,HCR108 [Passed] Requests the Dept. of Health a...,Wed Jun 01 07:46:04 +0000 2016,"[30.456615, -91.187356]","Baton Rouge, LA",hcr108 passed requests the dept of health and ...
7,737913096543588352,SB64 [Vetoed] Baltimore County - Orphans' Cour...,Wed Jun 01 07:46:06 +0000 2016,"[38.978862, -76.490685]","Annapolis, MD",sb64 vetoed baltimore county orphans court ju...
8,737913098217132032,Just posted a video @ Rol-Lexx Club /Night Clu...,Wed Jun 01 07:46:07 +0000 2016,"[25.88414, -80.24274]","Westview, FL",just posted a video rollexx club night club h...
9,737913106752540672,HB349 [Passed] Baltimore County - Education - ...,Wed Jun 01 07:46:09 +0000 2016,"[38.978862, -76.490685]","Annapolis, MD",hb349 passed baltimore county education care...
10,737913123877879808,Hunted down and took a shot outside @GordonRam...,Wed Jun 01 07:46:13 +0000 2016,"[36.16692, -115.03641]","Sunrise Manor, NV",hunted down and took a shot outside gordonrams...
11,737913129292730368,holy shit\n@thebottlemen @ Webster Hall https:...,Wed Jun 01 07:46:14 +0000 2016,"[40.7319055, -73.9896578]","Manhattan, NY",holy shit\nthebottlemen webster hall httpstco...
12,737913131683446784,Website Hacks to Trap more Leads and Increase ...,Wed Jun 01 07:46:15 +0000 2016,"[47.07947453, -120.00366211]","Washington, USA",website hacks to trap more leads and increase ...
13,737913141993078784,"I'm at C-View Inn in Cape May, NJ https://t.co...",Wed Jun 01 07:46:17 +0000 2016,"[38.94637803, -74.91018722]","Cape May, NJ",im at cview inn in cape may nj httpstcolqmze3tksh
14,737913142232162304,geo e92dc4e56c6b97210b338305bf55b491,Wed Jun 01 07:46:17 +0000 2016,"[37.781157, -122.39872]","San Francisco, CA",geo e92dc4e56c6b97210b338305bf55b491
15,737913144106946561,😭 https://t.co/KBBKD5Zw0Y,Wed Jun 01 07:46:17 +0000 2016,"[37.70463678, -122.46387013]","Daly City, CA",😭 httpstcokbbkd5zw0y
16,737913154504675328,We have been shooting pretty much non-stop for...,Wed Jun 01 07:46:20 +0000 2016,"[37.8018, -122.4198]","San Francisco, CA",we have been shooting pretty much nonstop for ...
17,737913155796533248,Paris... #Flamingo @ Flamingo Las Vegas Hotel ...,Wed Jun 01 07:46:20 +0000 2016,"[36.11615029, -115.17128052]","Paradise, NV",paris flamingo flamingo las vegas hotel amp c...
18,737913164021518336,Just posted a video @ Rol-Lexx Club /Night Clu...,Wed Jun 01 07:46:22 +0000 2016,"[25.88414, -80.24274]","Westview, FL",just posted a video rollexx club night club h...
19,737913170157838336,Fun night at the club baby right after MDW why...,Wed Jun 01 07:46:24 +0000 2016,"[40.72576, -73.91182]","Queens, NY",fun night at the club baby right after mdw why...
20,737913180710699008,"#USGS08099300 - Sabana Rv nr De Leon, TX\nHeig...",Wed Jun 01 07:46:26 +0000 2016,"[32.11402957, -98.6056067]","Texas, USA",usgs08099300 sabana rv nr de leon tx\nheight ...
21,737913181616656384,"If you're a #Retail professional in #BUSHNELL,...",Wed Jun 01 07:46:26 +0000 2016,"[28.6823714, -82.1123664]","Bushnell, FL",if youre a retail professional in bushnell fl ...
22,737913182375845888,Contact me for #events #event #nightlife #nigh...,Wed Jun 01 07:46:27 +0000 2016,"[34.102726, -118.327164]","Los Angeles, CA",contact me for events event nightlife nightclu...
23,737913183030149121,"#USGS08158700 - Onion Ck nr Driftwood, TX\nHei...",Wed Jun 01 07:46:27 +0000 2016,"[30.08298924, -98.0077859]","Texas, USA",usgs08158700 onion ck nr driftwood tx\nheight...
24,737913184435200000,"#USGS08205500 - Frio Rv nr Derby, TX\nHeight: ...",Wed Jun 01 07:46:27 +0000 2016,"[28.73664429, -99.1447556]","Texas, USA",usgs08205500 frio rv nr derby tx\nheight 763f...
25,737913186465222658,https://t.co/oADQwtx3lX,Wed Jun 01 07:46:28 +0000 2016,"[37.69910351, -123.01161171]","California, USA",httpstcooadqwtx3lx
26,737913197349470217,all these years I've been throwing out my stic...,Wed Jun 01 07:46:30 +0000 2016,"[43.1489516, -77.6268239]","New York, USA",all these years ive been throwing out my stick...
27,737913207323496448,Start of a great dinner with friends at #aquan...,Wed Jun 01 07:46:33 +0000 2016,"[36.125257, -115.1699405]","Paradise, NV",start of a great dinner with friends at aquano...
28,737913209055760386,"#NewYork, NY #Sales #Job: Corporate Travel Sal...",Wed Jun 01 07:46:33 +0000 2016,"[40.7253319, -74.0054946]","Manhattan, NY",newyork ny sales job corporate travel sales ma...
29,737913209357795329,We're #hiring! Read about our latest #job open...,Wed Jun 01 07:46:33 +0000 2016,"[41.308274, -72.9278835]","New Haven, CT",were hiring read about our latest job opening ...
...,...,...,...,...,...,...
9316,738001061865246720,#CriminalMischief at S John Young Pkwy. #orlpo...,Wed Jun 01 13:35:39 +0000 2016,"[28.4583574, -81.4247475]","Oak Ridge, FL",criminalmischief at s john young pkwy orlpol ocso
9317,738001065879162880,I'm at LeeAnn's Cocina Ma'gica in Grand Rapids...,Wed Jun 01 13:35:40 +0000 2016,"[43.03635025, -85.75750732]","Walker, MI",im at leeanns cocina magica in grand rapids mi...
9318,738001071201615876,#Scripture #FPCMorganton #fpcmorgantonstudentm...,Wed Jun 01 13:35:41 +0000 2016,"[35.73876728, -81.70250167]","Morganton, NC",scripture fpcmorganton fpcmorgantonstudentmini...
9319,738001071071629313,"Good morning, everyone! ¡Buenos Días! God morg...",Wed Jun 01 13:35:41 +0000 2016,"[37.23648589, -79.9718034]","Roanoke, VA",good morning everyone ¡buenos días god morgon ...
9320,738001075022761984,Look again. This is a miniature diorama that m...,Wed Jun 01 13:35:42 +0000 2016,"[40.44538192, -79.9856055]","Pittsburgh, PA",look again this is a miniature diorama that me...
9321,738001075475742720,#NonSoWarrant at S John Young Pkwy. #orlpol #ocso,Wed Jun 01 13:35:42 +0000 2016,"[28.4583574, -81.4247475]","Oak Ridge, FL",nonsowarrant at s john young pkwy orlpol ocso
9322,738001075496685569,Can't get enough of this vintage wedding look ...,Wed Jun 01 13:35:42 +0000 2016,"[32.74861679, -117.12933025]","San Diego, CA",cant get enough of this vintage wedding look b...
9323,738001078130610177,humidity up 82% -&gt; 93%,Wed Jun 01 13:35:43 +0000 2016,"[41.91, -88.13]","Carol Stream, IL",humidity up 82 gt 93
9324,738001079955230720,June is a record month for closings results of...,Wed Jun 01 13:35:43 +0000 2016,"[43.19010735, -88.12933651]","Menomonee Falls, WI",june is a record month for closings results of...
9325,738001080643002368,#SuspiciousPerson at 0-5599 West Sand Lake Roa...,Wed Jun 01 13:35:43 +0000 2016,"[28.4505211, -81.4206355]","Oak Ridge, FL",suspiciousperson at 05599 west sand lake road ...
9326,738001082618654720,This week's @rememberthispod episode is a favo...,Wed Jun 01 13:35:44 +0000 2016,"[40.69666667, -73.99666667]","Brooklyn, NY",this weeks rememberthispod episode is a favori...
9327,738001083792904192,#june #happypride #weho #lgbt #lapride #ownyou...,Wed Jun 01 13:35:44 +0000 2016,"[34.08352, -118.3853751]","West Hollywood, CA",june happypride weho lgbt lapride ownyourpride...
9328,738001087714713600,We're officially 30 days til @essencemag #esse...,Wed Jun 01 13:35:45 +0000 2016,"[29.95117163, -90.0807478]","New Orleans, LA",were officially 30 days til essencemag essence...
9329,738001091200049152,#CriminalMischief at 2300-2599 W Oak Ridge Rd....,Wed Jun 01 13:35:46 +0000 2016,"[28.4724166, -81.4120113]","Oak Ridge, FL",criminalmischief at 23002599 w oak ridge rd or...
9330,738001091632238593,"""It's a Great Day at Mr. Electric"" #great #day...",Wed Jun 01 13:35:46 +0000 2016,"[34.27256307, -118.70018518]","Simi Valley, CA",its a great day at mr electric great day mrele...
9331,738001097135005697,Accident. two left lanes blocked in #Lewisvill...,Wed Jun 01 13:35:47 +0000 2016,"[33.08445, -97.02655]","Lewisville, TX",accident two left lanes blocked in lewisville ...
9332,738001100763205632,#BurglaryVehicle at 8001-8126 South Orange Blo...,Wed Jun 01 13:35:48 +0000 2016,"[28.4489867, -81.4010724]","Florida, USA",burglaryvehicle at 80018126 south orange bloss...
9333,738001103116197888,"AUF WIEDERSEHEN!!!\nHEIDI KLUM!!\nMODEL,FASHIO...",Wed Jun 01 13:35:49 +0000 2016,"[40.7142, -74.0064]","Manhattan, NY",auf wiedersehen\nheidi klum\nmodelfashion desi...
9334,738001112192557057,#detroitmetroairport #justarrived #deltafirstc...,Wed Jun 01 13:35:51 +0000 2016,"[42.21368313, -83.35565173]","Romulus, MI",detroitmetroairport justarrived deltafirstclas...
9335,738001115535572992,"I'm at Upper West Side in New York, NY https:/...",Wed Jun 01 13:35:51 +0000 2016,"[40.78700787, -73.97541046]","Manhattan, NY",im at upper west side in new york ny httpstcok...
9336,738001115967459328,You made it to Wednesday. You deserve a Michig...,Wed Jun 01 13:35:52 +0000 2016,"[42.94223, -85.69275]","Grand Rapids, MI",you made it to wednesday you deserve a michiga...
9337,738001116907098113,How I felt trying to get out of bed this morni...,Wed Jun 01 13:35:52 +0000 2016,"[38.18676002, -85.66166238]","Newburg, KY",how i felt trying to get out of bed this morni...
9338,738001118236663808,📸 A great picture filled with happy 👦🏽👧🏽 sweet...,Wed Jun 01 13:35:52 +0000 2016,"[26.22234185, -80.20563097]","Margate, FL",📸 a great picture filled with happy 👦🏽👧🏽 sweet...
9339,738001117385101312,"I'm at George Hofacker in Grand Rapids, MI htt...",Wed Jun 01 13:35:52 +0000 2016,"[43.03632906, -85.75748974]","Walker, MI",im at george hofacker in grand rapids mi https...
9340,738001121776533504,Made it. Barely. 🚗🚘🚦🚩😀 @ Florida State Fairgro...,Wed Jun 01 13:35:53 +0000 2016,"[27.9877, -82.3622]","East Lake-Orient Park, FL",made it barely 🚗🚘🚦🚩😀 florida state fairground...
9341,738001124893069312,Minnesota wild rice pancakes with a side of he...,Wed Jun 01 13:35:54 +0000 2016,"[44.85291, -93.24175]","Bloomington, MN",minnesota wild rice pancakes with a side of he...
9342,738001127556427777,I'm at Terminal B - @houstonairports in Housto...,Wed Jun 01 13:35:54 +0000 2016,"[29.98667881, -95.34543872]","Houston, TX",im at terminal b houstonairports in houston t...
9343,738001128495939585,"Near zero visibility on top Mt. Brockway, but ...",Wed Jun 01 13:35:55 +0000 2016,"[47.4678535, -87.8884201]","Michigan, USA",near zero visibility on top mt brockway but im...
9344,738001128361762817,"let's stay up late and smoke a jay , I wanna g...",Wed Jun 01 13:35:55 +0000 2016,"[38.8637066, -76.9830016]","Washington, DC",lets stay up late and smoke a jay i wanna go ...
9345,738001134074384384,Geared up for a shoot. #gear #kcvideo #kansasc...,Wed Jun 01 13:35:56 +0000 2016,"[38.87487, -94.67186]","Overland Park, KS",geared up for a shoot gear kcvideo kansascity ...

In [112]:
dfTweeterSample.apply(lemmatizeReviewText, axis=1)

737913053119959040
737913053119959040

AttributeError: ("'str' object has no attribute 'words'", u'occurred at index 1')

In [98]:

dfTweeter['review_clean'] = dfTweeter['reviewText'].apply(remove_punctuation)

In [91]:
dfTweeterSample

,id,reviewText,created_at,geo,city,review_clean
1,737913053119959040,Can you recommend anyone for this #Nursing #jo...,Wed Jun 01 07:45:56 +0000 2016,"[34.0522342, -118.2436849]","Los Angeles, CA",can you recommend anyone for this nursing job ...
2,737913055338713089,https://t.co/DZVgUmv8ZQ,Wed Jun 01 07:45:56 +0000 2016,"[37.69944509, -123.01210475]","California, USA",httpstcodzvgumv8zq
3,737913065262436352,#chocolate #dessert @parallel37 chef @RotondoS...,Wed Jun 01 07:45:59 +0000 2016,"[37.79184, -122.40682]","San Francisco, CA",chocolate dessert parallel37 chef rotondosf mi...
4,737913073479127041,temperature down 74°F -&gt; 70°F\nhumidity up ...,Wed Jun 01 07:46:01 +0000 2016,"[33.75, -84.39]","Atlanta, GA",temperature down 74°f gt 70°f\nhumidity up 73 ...
5,737913078558404608,#Im_Far_From_Perfect #rewrite_my_history™ #jsh...,Wed Jun 01 07:46:02 +0000 2016,"[30.28457313, -89.43852332]","Mississippi, USA",imfarfromperfect rewritemyhistory™ jshizzle js...
6,737913086837940226,HCR108 [Passed] Requests the Dept. of Health a...,Wed Jun 01 07:46:04 +0000 2016,"[30.456615, -91.187356]","Baton Rouge, LA",hcr108 passed requests the dept of health and ...
7,737913096543588352,SB64 [Vetoed] Baltimore County - Orphans' Cour...,Wed Jun 01 07:46:06 +0000 2016,"[38.978862, -76.490685]","Annapolis, MD",sb64 vetoed baltimore county orphans court ju...
8,737913098217132032,Just posted a video @ Rol-Lexx Club /Night Clu...,Wed Jun 01 07:46:07 +0000 2016,"[25.88414, -80.24274]","Westview, FL",just posted a video rollexx club night club h...
9,737913106752540672,HB349 [Passed] Baltimore County - Education - ...,Wed Jun 01 07:46:09 +0000 2016,"[38.978862, -76.490685]","Annapolis, MD",hb349 passed baltimore county education care...